

body{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    
}

#main {
    width: auto;
    border: 2px solid transparent;
    background-color: whitesmoke;
    height: 1000px;
    align-content: center;
    color: black;
    text-align: center;
}

header{
    color: white;
    font-family: 'Helvetica';
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 100px;
    
}

footer{
    color: white;
    text-align: center;

}

